.bg-accent {
    background-color: var(--accent-bg);
}

.green-bg {
    background-color: #40f114ce !important;
    box-shadow: var(--tile-shadow) !important;
    border-color: #40f114ce !important;
}

.red-bg {
    background-color: #fe2a2ad3 !important;
}

.gray-bg {
    background-color: #848484d1 !important;
    box-shadow: var(--tile-shadow) !important;
    border-color: #848484d1 !important;
}

.yellow-bg {
    background-color: #f1d414db !important;
    box-shadow: var(--tile-shadow) !important;
    border-color: #f1d414db !important;
}

.color-accent {
    color: var(--accent-text);
}

.app {
    background-color: var(--main-bg);
}

.main {
    justify-content: space-between;
}

.main,
.settings,
.stats,
.info {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 20px 10px;
    height: 100vh;
    max-width: 575px;
    color: var(--main-text)
}